In [1]:
myTuple = ( 1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [2]:
myTuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [3]:
myTuple2 = ( 1, 2, 3, 4, 2, 6, 2, 8, 9, 2)

In [4]:
myTuple2

(1, 2, 3, 4, 2, 6, 2, 8, 9, 2)

In [5]:
print( '2 Occurs ', myTuple2.count( 2 ), ' times in the Tuple : ', myTuple2 )

2 Occurs  4  times in the Tuple :  (1, 2, 3, 4, 2, 6, 2, 8, 9, 2)

In [6]:
my_data_dict = { 'height': [187,170,179,190], 'weight': [160,150,160,190], 'name': ['Amy', 'John', 'Derek', 'George'] }

In [7]:
my_data_dict

{'height': [187, 170, 179, 190],
 'weight': [160, 150, 160, 190],
 'name': ['Amy', 'John', 'Derek', 'George']}

In [8]:
type( my_data_dict )

dict

In [9]:
print( 'Name\tHeight\tWeight' )

for i in range( len(my_data_dict) ):
    print( my_data_dict['name'][i], '\t', my_data_dict['height'][i], '\t' , my_data_dict['weight'][i] )

Name	Height	Weight
Amy 	 187 	 160
John 	 170 	 150
Derek 	 179 	 160

In [10]:
print( 'Keys : ', my_data_dict.keys() )
print( 'Values : ', my_data_dict.values() )
print( 'Items : ', my_data_dict.items() )

Keys :  dict_keys(['height', 'weight', 'name'])
Values :  dict_values([[187, 170, 179, 190], [160, 150, 160, 190], ['Amy', 'John', 'Derek', 'George']])
Items :  dict_items([('height', [187, 170, 179, 190]), ('weight', [160, 150, 160, 190]), ('name', ['Amy', 'John', 'Derek', 'George'])])

In [11]:
my_data_set = { 9,1,23, 1.5,-0.9, 'nn', 'aa', 'qwe','abc' }
my_data_set

{-0.9, 1, 1.5, 23, 9, 'aa', 'abc', 'nn', 'qwe'}

In [12]:
my_data_set.add( 7 )
my_data_set

{-0.9, 1, 1.5, 23, 7, 9, 'aa', 'abc', 'nn', 'qwe'}

In [13]:
my_data_set.add( 'nop' )
my_data_set

{-0.9, 1, 1.5, 23, 7, 9, 'aa', 'abc', 'nn', 'nop', 'qwe'}

In [14]:
my_data_set.add( 'stu' )
my_data_set.add( 'zz' )
my_data_set.add( 'zzz' )
my_data_set

{-0.9, 1, 1.5, 23, 7, 9, 'aa', 'abc', 'nn', 'nop', 'qwe', 'stu', 'zz', 'zzz'}

In [15]:
my_data_set.add( 'yyyyyyy' )
my_data_set

{-0.9,
 1,
 1.5,
 23,
 7,
 9,
 'aa',
 'abc',
 'nn',
 'nop',
 'qwe',
 'stu',
 'yyyyyyy',
 'zz',
 'zzz'}

In [16]:
my_data_set.add( 'yyyyyyy' )
my_data_set

{-0.9,
 1,
 1.5,
 23,
 7,
 9,
 'aa',
 'abc',
 'nn',
 'nop',
 'qwe',
 'stu',
 'yyyyyyy',
 'zz',
 'zzz'}

In [17]:
some_string = 'sdfsadfsadfsdfsdfsdf'

print( 'S: \n', some_string )

counter = 0

while counter <= 4:
    print(some_string[counter:5])
    print(counter)
    counter = counter + 1

S:
 sdfsadfsadfsdfsdfsdf
sdfsa
0
dfsa
1
fsa
2
sa
3
a
4

In [18]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [19]:
df = pd.read_csv( 'Countries_of_the_world_1970_imputed_international_data.csv' )

In [20]:
df # The Head & Tail together

,Entity,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,Countries,Economic.Freedom.Summary.Index,Government.consumption,Transfers.and.subsidies,Government.investment,State.ownership.of.assets,...,Centralized.collective.bargaining,Hours.Regulations,Conscription,Labor.market.regulations,Impartial.Public.Administration,Regulation,alliance,regimenarrowcat,Regime_type,id
0,Afghanistan,0.266,0.160,0.104,NaN,5.506573,6.393604,8.740967,5.519734,5.025106,...,5.897546,5.932564,2.392234,4.700103,4.887146,4.776903,not a US ally,8.0,Monarchy,1
1,Albania,0.006,0.173,0.055,Albania,3.713222,3.170575,8.262926,-0.627520,0.180000,...,4.220652,4.846848,0.000000,4.215714,1.750000,3.230021,not a US ally,4.0,Single-party rule,2
2,Algeria,0.428,0.084,0.065,Algeria,4.680000,5.540000,9.322154,7.320000,2.490000,...,5.540452,6.185718,3.000000,4.572435,3.910000,3.630000,not a US ally,7.0,Military rule,3
3,Angola,0.024,0.010,0.035,Angola,4.547754,6.109553,8.385527,4.949296,3.180000,...,4.641346,5.671838,0.536243,3.955813,2.370000,3.778725,not a US ally,NaN,unknown,4
4,Argentina,0.354,0.105,0.086,Argentina,5.980000,7.930000,8.006018,8.187808,6.150000,...,5.180000,5.720000,0.000000,3.630000,2.420000,5.310000,US ally,7.0,Military rule,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,United Arab Emirates,NaN,NaN,NaN,United Arab Emirates,5.318299,6.321991,7.942938,6.984351,5.128654,...,4.578971,5.804901,-1.635512,3.297957,4.408227,4.057185,not a US ally,NaN,unknown,178
178,"Bahamas, The",NaN,NaN,NaN,"Bahamas, The",6.444528,7.929654,9.750000,8.271012,7.359644,...,7.506363,6.864895,6.740750,6.570836,6.959719,6.624903,not a US ally,NaN,unknown,179
179,Belize,NaN,NaN,NaN,Belize,6.552629,6.550790,8.277202,6.172708,6.257622,...,6.498267,5.631109,4.938871,5.273427,6.551369,5.902861,not a US ally,NaN,unknown,180
180,Brunei Darussalam,NaN,NaN,NaN,Brunei Darussalam,5.429512,6.567417,8.823056,5.877209,5.083315,...,5.809336,6.037126,1.554685,4.469860,4.482676,4.579663,not a US ally,NaN,unknown,181
181,Montenegro,NaN,NaN,NaN,Montenegro,5.034850,6.090277,9.203655,3.880783,4.024726,...,6.080078,5.883605,3.366051,5.037536,4.246232,4.497032,not a US ally,4.0,Single-party rule,182

In [21]:
print( 2 ** 2 )
print( 2 ^ 2 )

4
0

In [22]:
print( 'SquareRoot of 16 : ', 16 ** (1/2) ) # SquareRoot
print( 'CubeRoot of 27: ', 27 ** (1/3) ) # CubeRoot

SquareRoot of 16 :  4.0
CubeRoot of 27:  3.0

In [23]:
round( 3.1419296, 3 )

3.142

In [24]:
print( True, '\t Int Value = ', int(True) )
print( False, '\t Int Value = ', int(False) )

True 	 Int Value =  1
False 	 Int Value =  0

### Lists and List Comprehension

In [25]:
nums = [ 1,2,3,4,5 ]
sqNums = []
cbNums = []

for num in nums:
    sqNums.append( num ** 2 )
    cbNums.append( num ** 3 )
    
print( 'Nums : ', nums )
print( 'Squares : ', sqNums )
print( 'Cubes : ', cbNums )

Nums :  [1, 2, 3, 4, 5]
Squares :  [1, 4, 9, 16, 25]
Cubes :  [1, 8, 27, 64, 125]

In [26]:
nums = [ 1,2,3,4,5 ]
sqNums = [ num ** 2 for num in nums ]
cbNums = [ num ** 3 for num in nums ]

print( 'Nums : ', nums )
print( 'Squares : ', sqNums )
print( 'Cubes : ', cbNums )

Nums :  [1, 2, 3, 4, 5]
Squares :  [1, 4, 9, 16, 25]
Cubes :  [1, 8, 27, 64, 125]

In [27]:
nums_2 = [ 12, 11, 1, 55, 122, 88, 79 ]

evenNums = [ num for num in nums_2 if num % 2 == 0 ]
oddNums = [ num for num in nums_2 if num % 2 == 1 ]

print( 'Nums : ', nums_2 )
print( 'Evens : ', evenNums )
print( 'Odds : ', oddNums )

Nums :  [12, 11, 1, 55, 122, 88, 79]
Evens :  [12, 122, 88]
Odds :  [11, 1, 55, 79]

In [ ]:
words = [ 'QWERTY', 'ZZZ', 'BBBB', 'poiuytrewq' ]

containsVowels = [ w for w in words if w.contains(

In [10]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if (year % 4 == 0) or ((year % 100 == 0) and (year % 400 == 0)):
            leap = True    
    return leap

# year = int(input())
print(is_leap(1992))

True

In [9]:
1992%4

0

In [15]:
def is_leap(year):
    print( (year % 4 == 0) )
    print( (year % 100 == 0) )
    print( (year % 400 == 0) )
    
    if (year % 4 == 0) or ((year % 100 == 0) and (year % 400 == 0)):
        return True
    else:
        return False
    return False

year = int(input())
print(is_leap(year))

 2100

True
True
False
True

In [29]:
if __name__ == '__main__':
    n = int(input())
    arr = list( map(int, input().split()) )
    print( arr, ' - ', type(arr) )
    # print( arr.sort() )
    #sorted = arr.sort()
    #print( sorted, type() )
    arr.sort()
    print( '-', arr )
    if arr[n-2] == arr[n-1]:
        
    print( arr[n-2] )

 5
 2 3 6 6 5

[2, 3, 6, 6, 5]  -  <class 'list'>
- [2, 3, 5, 6, 6]
6

In [35]:
if __name__ == '__main__':
    n = int(input())
    arr = list(set( map(int, input().split()) ))
    print( arr, ' - ', type(arr) )
    # print( arr.sort() )
    #sorted = arr.sort()
    #print( sorted, type() )
    arr.sort()
    #print( '-', arr )
    # if arr[n-2] == arr[n-1]:  
    print( arr[len(arr)-2] )

 3
 -10 0 10

[0, 10, -10]  -  <class 'list'>
0

In [50]:
s = 'AAABCADDE'
set(s)

{'A', 'B', 'C', 'D', 'E'}

In [51]:
def merge_the_tools(string, k):
    # your code goes here
    n = len(string);
    #setS = set(string)
    numSubs = n/k

    strList = []
    
    for i in range(0,n,k):
        str2 = string[i:i+k]
        print( 'chunk : ', str2 )
        print( '----', ''.join(set(str2)) )
        strList.append( ''.join(set(str2)) )

    for i in range(numSubs):
        if strList[i] in 

    # print( n, ' -- ', numSubs )

    # for i in setS:
    #     print( i, '-- ', string.count(i) )

if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

# AB, AC,AE,AD,

 AAABCADDE
 3

chunk :  AAA
---- A
chunk :  BCA
---- ACB
chunk :  DDE
---- DE

In [52]:
def merge_the_tools(string, k):
    # your code goes here
    n = len(string);
    strList = []
    
    for i in range(0,n,k):
        str2 = string[i:i+k]
        print( ''.join(set(str2)) )


if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

 AABCAAADA
 3

AB
AC
AD

In [53]:
def merge_the_tools(string, k):
    # your code goes here
    n = len(string);
    strList = []
    
    for i in range(0,n,k):
        str2 = string[i:i+k]
        def merge_the_tools(string, k):
    # your code goes here
    for i in range(0,len(string),k):
        subStr = string[i:i+k]
        print( ''.join(dict.fromkeys(subStr)) )


if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)def merge_the_tools(string, k):
    # your code goes here
    for i in range(0,len(string),k):
        subStr = string[i:i+k]
        print( ''.join(dict.fromkeys(subStr)) )


if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)


if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

 AAABCADDE
 3

A
BCA
DE

## https://stackoverflow.com/questions/480214/how-do-i-remove-duplicates-from-a-list-while-preserving-order

In [54]:
def merge_the_tools(string, k):
    # your code goes here
    for i in range(0,len(string),k):
        subStr = string[i:i+k]
        print( 'SUB: ', subStr )
        print( ''.join(dict.fromkeys(subStr)) )


if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

 AABBCAADADADA
 3

SUB:  AAB
AB
SUB:  BCA
BCA
SUB:  ADA
AD
SUB:  DAD
DA
SUB:  A
A