### LetsUpgrade - Python Assignment Day 6

###### 1. Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.
- Example - Input: john@google.com and Output: google

In [7]:
def getCompanyName( str2 ):
    chunk1 = str2.split('@')
    chunk2 = chunk1[1].split('.')
    return chunk2[0]

In [9]:
email_1 = 'JohnDoe@google.com'
email_2 = 'JaneDoe@yahoo.co.in'

print( f"Username is { email_1 } and Company Name is { getCompanyName(email_1) }" )
print( f"Username is { email_2 } and Company Name is { getCompanyName(email_2) }" )

Username is JohnDoe@google.com and Company Name is google
Username is JaneDoe@yahoo.co.in and Company Name is yahoo

****

###### 2. Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.
- Example - Input: without,hello,bag,world and Output: bag,hello,without,world

In [12]:
wordList = input().split(',')
print( 'Base List : ', wordList )
print( 'Sorted List : ',",".join( sorted(wordList) ) )

'Bonjour', 'GutenTag', 'Ahlanbik', 'Shukran', 'VielenDanke', 'MerciBeaucoup'
Base List :  ["'Bonjour'", " 'GutenTag'", " 'Ahlanbik'", " 'Shukran'", " 'VielenDanke'", " 'MerciBeaucoup'"]
Sorted List :   'Ahlanbik', 'GutenTag', 'MerciBeaucoup', 'Shukran', 'VielenDanke','Bonjour'

*****

###### 3. Create your own Jupyter Notebook for Sets.
- Reference link -  https://www.w3schools.com/python/python_sets.asp

### Sets:
- Collection which has Unique Values i.e. **Removes Duplicate Values**
- Concatenation Operation is not allowed
- Considers Case Change as a Different Element : for String Elements
- **Set() Returns an Unordered Set** : Elements will not necessarily be in a Sorted Order
- Set Operations like Union, Intersection, Set Difference are allowed

In [29]:
my_list_2 = [1,1,2,3,4,'John',12,1,'john',2,4,8,'doe',12,'Doe',1,1,4,5]
print( 'List with duplicates:', my_list_2 )
my_set_2 = set ([1,1,2,3,4,'John',12,1,'Doe',2,4,8,'john',12,'doe',1,1,4,5])
print( 'Set 2 without duplicates : ', my_set_2 )

List with duplicates: [1, 1, 2, 3, 4, 'John', 12, 1, 'john', 2, 4, 8, 'doe', 12, 'Doe', 1, 1, 4, 5]
Set 2 without duplicates :  {1, 2, 3, 4, 'John', 'doe', 5, 8, 12, 'Doe', 'john'}

In [30]:
my_set = set( [1,1,2,3,4,5,12,1,3,2,4,8,9,12,12,1,1,4,5] )
print( ' Set 1 without duplicates : ', my_set )
print( ' Set 2 without duplicates : ', my_set_2 )
print( ' Set Union : ', my_set_2.union(my_set) )
print( ' Set Intersection : ', my_set_2.intersection(my_set) )
print( ' Set (2-1) Difference : ', my_set_2.difference(my_set) )
print( ' Set (1-2) Difference : ', my_set.difference(my_set_2) )
print( ' Set are Disjoint : ', my_set.isdisjoint(my_set_2) )

 Set 1 without duplicates :  {1, 2, 3, 4, 5, 8, 9, 12}
 Set 2 without duplicates :  {1, 2, 3, 4, 'John', 'doe', 5, 8, 12, 'Doe', 'john'}
 Set Union :  {1, 2, 3, 4, 'John', 'doe', 5, 8, 9, 12, 'Doe', 'john'}
 Set Intersection :  {1, 2, 3, 4, 5, 8, 12}
 Set (2-1) Difference :  {'John', 'doe', 'Doe', 'john'}
 Set (1-2) Difference :  {9}
 Set are Disjoint :  False

*****

###### 4. Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
- Example - Input:1 2 4 6 3 7 8 and Output:5

In [8]:
num_list = [ 18,14,20,16,19,15 ]
print( 'Original List : ',  num_list )
num_list = sorted( num_list )
print( 'Sorted List : ',  num_list )

j = 0
for i in range( num_list[0], num_list[ len(num_list)-1 ] ):
    if i != num_list[j]:
        print( 'Missing Number : ', i )
        break
    else:
        j = j+1

Original List :  [18, 14, 20, 16, 19, 15]
Sorted List :  [14, 15, 16, 18, 19, 20]
Missing Number :  17

****

###### 5. With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
- Example - Input List - 12 24 35 24 88 120 155 88 120 155 and output List  - 12 24 35 88 120 155

In [7]:
num_list_2 = [ 17 , 72 , 108 , 102 , 97 , 8 , 17 , 108 , 63 , 97, 55, 79, 8 ]
print( 'Original List : ',  num_list_2 )

num_list_2 = list( set( num_list_2 ) )
print( 'List with duplicates removed: ',  num_list_2 )

print( 'Ascending Order :', end=' ' )
for i in sorted(num_list_2):
    print( i, end=',' )
print()
print( 'Descending Order :', end=' ' )
for i in sorted(num_list_2, reverse=True):
    print( i, end=',' )

Original List :  [17, 72, 108, 102, 97, 8, 17, 108, 63, 97, 55, 79, 8]
List with duplicates removed:  [97, 102, 72, 8, 108, 79, 17, 55, 63]
Ascending Order : 8,17,55,63,72,79,97,102,108,
Descending Order : 108,102,97,79,72,63,55,17,8,

****